---
BasedOnStyle: Microsoft
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
ColumnLimit: '120'
InsertBraces: 'true'
SeparateDefinitionBlocks: Always

...
